<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>All leagues and football teams</title>
</head>
<body>
<h2>All leagues</h2>
<h3 th:text="${message!=null}?${message}"></h3>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="league : ${getAllLeagues}">
    <td th:text="${league.getId()}"></td>
    <td th:text="${league.getName()}"></td>
    <td th:text="${league.getLeagueStatus()}"></td>
    <td><a th:href="@{/football-team/all/{leagueId}(leagueId=${league.id})}">View teams</a></td>
    <td><a th:href="@{/game-week/all/{leagueId}(leagueId=${league.id})}">Game weeks</a></td>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
      <td><a th:href="@{/league/start/{leagueId}(leagueId=${league.id})}">Start League</a></td>
    </div>
  </tr>
  </tbody>
</table>
</body>
</html>