<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add players</title>
</head>
<body>
<h2>Add players to line up:</h2>
<h3 th:text="${message != null ? message : ''}"></h3>
<form action="#" th:action="@{/line-up/submit}" th:object="${lineUp}" method="post">
    <input type="hidden" th:field="*{footballTeam}" th:value="${lineUp.footballTeam != null ? lineUp.footballTeam.id : ''}"/>
    <input type="hidden" th:field="*{footballFormation}" th:value="${lineUp.footballFormation != null ? lineUp.footballFormation.name : ''}"/>
    <div th:if="${lineUp != null and lineUp.positionFootballPlayerMap != null}">
        <div th:each="position : ${lineUp.positionFootballPlayerMap.keySet()}">
            <label th:text="${position}"></label>
            <select th:field="*{positionFootballPlayerMap[__${position}__]}" name="players" id="players">
                <option value="" disabled selected>Select Player</option>
                <option th:each="player : ${allPlayers != null ? allPlayers : {}}" th:value="${player != null ? player.id : ''}" th:text="${player != null ? (player.getBaseFootballPlayer().lastName + ' - ' + player.getBaseFootballPlayer().getPosition()) : ''}"></option>
            </select>
        </div>
    </div>
    <p><input type="submit" value="Save line-up"/></p>
</form>
</body>
</html>