<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add players</title>
</head>
<body>
<h2>Add players to line up:</h2>
<form action="#" th:action="@{/line-up/add}" th:object="${lineUp}" method="post">
    <div th:each="position : ${lineUp.positionFootballPlayerMap.keySet()}">
        <label th:text="${position}"></label> <!-- Display the position as label -->
        <select th:field="*{positionFootballPlayerMap[__${position}__]}" name="players" id="players">
            <option value="" disabled selected>Select Player</option>
            <option th:each="player : ${allPlayers}" th:value="${player.id}" th:text="${player.getBaseFootballPlayer().lastName + ' - ' + player.getBaseFootballPlayer().getPosition()}"></option>
            <!-- Loop through each player and create an option -->
        </select>
    </div>
    <p><input type="submit" value="Save line-up"/></p>
</form>
</body>
</html>