<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All players</title>
</head>
<body>
<h2>All players</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Nationality</th>
        <th>Age</th>
        <th>Football Team</th>
        <th>ShirtNumber</th>
        <th>Price</th>
        <th>Position</th>
        <th>Defending</th>
        <th>Speed</th>
        <th>Dribble</th>
        <th>Scoring</th>
        <th>Passing</th>
        <th>Stamina</th>
        <th>Positioning</th>
        <th>Goalkeeping</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${allFootballPlayers}">
        <td th:text="${player.getId()}"></td>
        <td th:text="${player.getFirstName()}"></td>
        <td th:text="${player.getLastName()}"></td>
        <td th:text="${player.getNationality()}"></td>
        <td th:text="${player.getAge()}"></td>
        <td th:text="${player.getFootballTeam()}"></td>
        <td th:text="${player.getShirtNumber()}"></td>
        <td th:text="${player.getPrice()}"></td>
        <td th:text="${player.getPosition()}"></td>
        <td th:text="${player.getDefending()}"></td>
        <td th:text="${player.getSpeed()}"></td>
        <td th:text="${player.getDribble()}"></td>
        <td th:text="${player.getScoring}"></td>
        <td th:text="${player.getPassing()}"></td>
        <td th:text="${player.getStamina()}"></td>
        <td th:text="${player.getPositioning()}"></td>
        <td th:text="${player.getGoalkeeping()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>