<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All bought players</title>
</head>
<body>
<h2>All bought players</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${boughtFootballPlayers}">
        <td th:text="${player.getId()}"></td>
        <td th:text="${player.baseFootballPlayer.firstName}"></td>
        <td th:text="${player.baseFootballPlayer.lastName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>