<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${league.getName()}"></title>
</head>
<body>
<h3 th:text="${league.getName()}"> teams:</h3>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Budged</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="footballTeam : ${footballTeams}">
            <td th:text="${footballTeam.getId()}"></td>
            <td th:text="${footballTeam.getBaseFootballTeam().getBaseTeamName()}"></td>
            <td th:text="${footballTeam.getBudged()}"></td>
            <td><a th:href="@{/football-team/add/{teamId}(teamId=${footballTeam.id})}">Add players</a></td>
            <td><a th:href="@{/football-team/players/{teamId}(teamId=${footballTeam.id})}">See players</a></td>
            <td><a th:href="@{/line-up/add/{teamId}(teamId=${footballTeam.id})}">Add/View line-up</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>