<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${footballTeam.baseFootballTeam.baseTeamName}"></title>
</head>
<body>
<h3 th:text="${message!=null}?${message}"></h3>
  <p th:text="'Manager: ' + ${footballTeam.user.username}"></p>
  <p th:text="'Team id: ' + ${footballTeam.id}"></p>
  <p th:text="'Name: ' + ${footballTeam.baseFootballTeam.baseTeamName}"></p>
  <p th:text="'League: ' + ${footballTeam.league.name}"></p>
<a th:href="@{/line-up/update/{lineUpId}(lineUpId=${footballTeam.lineUp.id})}">Edit line-up</a>
<a th:href="@{/line-up/add/{teamId}(teamId=${footballTeam.id})}">View line-up</a>
<!--<a th:href="@{/league/start/{leagueId}(leagueId=${league.id})}">Start League</a></td>-->
</body>
</html>