<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="'Game weeks ' + ${league.name}"></title>
</head>
<body>
 <table>
   <thead>
    <tr>
      <th>Game week</th>
      <th>Matches</th>
    </tr>
   </thead>
   <tbody>
   <tr th:each="gameWeek : ${league.gameWeekList}">
     <td th:text="${gameWeek.weekNumber}"></td>
     <td>
       <table>
         <tbody>
         <tr th:each="footballMatch : ${gameWeek.matchList}">
           <td th:text="${footballMatch.getHomeTeam().getBaseFootballTeam().getBaseTeamName()} + ' : ' + ${footballMatch.getAwayTeam().getBaseFootballTeam().getBaseTeamName()}"></td>
           <td><a th:href="@{/football-match/view/{matchId}(matchId=${footballMatch.id})}">Details</a></td>
         </tr>
         </tbody>
       </table>
     </td>
   </tr>
   </tbody>
 </table>
</body>
<footer th:insert="fragments/footer.html ::footer"></footer>
</html>