<!--<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--  <div sec:authorize="hasRole('ROLE_USER')"> |-->
<!--    <a th:href="@{/league/select}">Select/View my team</a> |-->
<!--  </div>-->
<!--  <div sec:authorize="hasRole('ROLE_ADMIN')"> |-->
<!--    <a th:href="@{/base-football-player/add}">Add new base football player</a> |-->
<!--    <a th:href="@{/base-football-player/all}">All base football players</a> |-->
<!--    <a th:href="@{/base-football-team/add}">Add new base football team</a> |-->
<!--    <a th:href="@{/base-football-team/all}">All base football teams</a> |-->
<!--    <a th:href="@{/league/add}">Add new league</a> |-->
<!--  </div>-->
<!--  <div  sec:authorize="isAuthenticated()"> |-->
<!--    <a th:href="@{/league/get}">View all leagues</a> |-->
<!--  </div>-->
<!--  |<a th:href="@{/auth/login}">Log in</a>|-->
<!--</footer>-->
<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <div sec:authorize="hasRole('ROLE_USER')">
            <a class="btn btn-link" th:href="@{/league/select}">Select/View my team</a>
          </div>
          <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="btn btn-link" th:href="@{/base-football-player/add}">Add new base football player</a>
            <a class="btn btn-link" th:href="@{/base-football-player/all}">All base football players</a>
            <a class="btn btn-link" th:href="@{/base-football-team/add}">Add new base football team</a>
            <a class="btn btn-link" th:href="@{/base-football-team/all}">All base football teams</a>
            <a class="btn btn-link" th:href="@{/league/add}">Add new league</a>
          </div>
          <div class="mt-2">
            <div sec:authorize="isAuthenticated()">
              <a class="btn btn-link" th:href="@{/league/get}">View all leagues</a>
            </div>
            <a class="btn btn-link" th:href="@{/auth/login}">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>