<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add base football team</title>
</head>
<body>
<h2>Add new base football team</h2>
    <form action="#" th:action="@{/base-football-team/add}" th:object="${baseTeam}" method="post">
        <p>
            Name:
            <input type="text" th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}" th:error="*{name}"></span>
        </p>
        <p>
            Abbreviation:
            <input type="text" th:field="*{abbreviation}"/>
            <span th:if="${#fields.hasErrors('abbreviation')}" th:error="*{abbreviation}"></span>
        </p>
        <p>
            Stadium name:
            <input type="text" th:field="*{stadiumName}"/>
            <span th:if="${#fields.hasErrors('stadiumName')}" th:error="*{stadiumName}"></span>
        </p>
        <p>
            Start budged:
            <input type="number" th:field="*{startBudged}"/>
            <span th:if="${#fields.hasErrors('startBudged')}" th:error="*{startBudged}"></span>
        </p>
        <input type="submit" value="ADD"/>
    </form>
</body>
</html>