<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>All base teams</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>All base football teams</h2>-->
<!--<table>-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Name</th>-->
<!--            <th>Abbreviation</th>-->
<!--            <th>StadiumName</th>-->
<!--            <th>StartBudged</th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--        <tr th:each="baseTeam : ${baseTeams}">-->
<!--            <td th:text="${baseTeam.getId()}"></td>-->
<!--            <td th:text="${baseTeam.getBaseTeamName()}"></td>-->
<!--            <td th:text="${baseTeam.getAbbreviation()}"></td>-->
<!--            <td th:text="${baseTeam.getStadiumName()}"></td>-->
<!--            <td th:text="${baseTeam.getStartBudged()}"></td>-->
<!--        </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All base teams</title>
    <!-- Включване на Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>All base football teams</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Abbreviation</th>
            <th>Stadium Name</th>
            <th>Start Budget</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="baseTeam : ${baseTeams}">
            <td th:text="${baseTeam.getId()}"></td>
            <td th:text="${baseTeam.getBaseTeamName()}"></td>
            <td th:text="${baseTeam.getAbbreviation()}"></td>
            <td th:text="${baseTeam.getStadiumName()}"></td>
            <td th:text="${baseTeam.getStartBudged()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Включване на Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<footer th:insert="fragments/footer.html ::footer"></footer>
</html>