<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add new football player</title>
</head>
<body>
  <h2>New football player:</h2>
<form action="#" th:action="@{/football-player/add}" th:object=${footballPlayer} method="post">
  <p>
    First name:
    <input type="text" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}" th:error="*{name}"></span>
  </p>
  <p>
    Last name:
    <input type="text" th:field="*{lastName}"/>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
  </p>
  <p>
    Nationality:
    <input type="text" th:field="*{nationality}"/>
    <span th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></span>
  </p>
  <p>
    Shirt number:
    <input type="number" th:field="*{shirtNumber}"/>
    <span th:if="${#fields.hasErrors('shirtNumber')}" th:erros="*{shirtNumber}"></span>
  </p>
  <p>
    Preferred position:
    <select th:field="*{position}">
      <option th:each="position : ${positions}" th:text="${position.name}" th:value="${position.name}"></option>
    </select>
    <span th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span>
  </p>
  <p>
    Speed:
    <input type="number" th:field="*{speed}"/>
    <span th:if="${#field.hasErrors('speed')}" th:errors="*{speed}"></span>
  </p>
  <p>
    Dribble:
    <input type="number" th:field="*{dribble}"/>
    <span th:if="${#field.hasErrors('dribble')}" th:errors="*{dribble}"></span>
  </p>
  <p>
    Scoring:
    <input type="number" th:field="*{scoring}"/>
    <span th:if="${#field.hasErrors('scoring')}" th:errors="*{scoring}"></span>
  </p>
  <p>
    Passing:
    <input type="number" th:field="*{passing}"/>
    <span th:if="${#field.hasErrors('passing')}" th:errors="*{passing}"></span>
  </p>
  <p>
    Stamina:
    <input type="number" th:field="*{stamina}"/>
    <span th:if="${#field.hasErrors('stamina')}" th:errors="*{stamina}"></span>
  </p>
  <p>
    Defending:
    <input type="number" th:field="*{defending}"/>
    <span th:if="${#field.hasErrors('defending')}" th:errors="*{defending}"></span>
  </p>
  <p>
    Positioning:
    <input type="number" th:field="*{positioning}"/>
    <span th:if="${#field.hasErrors('positioning')}" th:errors="*{positioning}"></span>
  </p>
  <p>
    Goalkeeping:
    <input type="number" th:field="*{goalkeeping}"/>
    <span th:if="${#field.hasErrors('goalkeeping')}" th:errors="*{goalkeeping}"></span>
  </p>
  <input type="submit" value="ADD"/>
</form>
</body>
</html>